<div class="container"><h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
<h2><%= link_to restaurant.name, restaurant_path(restaurant.id)%></h2>
<p><%= restaurant.address %></p>
<p><%= restaurant.phone_number %></p>
<p><%= restaurant.category %></p>
<% end %>

<%= link_to "+ Add a new restaurant", new_restaurant_path, class: "btn btn-primary"%>
</div>
